

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
}

body {
  //background-color: lightblue;
  /*background-image: url("./ocean-imgs/shark.jpg");*/
  /*background-repeat: repeat-x;*/
}

#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

/*#seaLife-search-form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}*/

/*#seaLife-search-input {
  font-size: 3rem;
  border: 3px solid #fecd2f;
  color: #2d72fc;
}*/

seaLife-bar {
  height: 15vh;
  background: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

#seaLife-bar span {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  border: 1px solid blue;
  overflow: hidden;
  ;
}



input:focus {
  outline: none;
}

.seaLife-card {
  float: left;
  width: 250px;
  margin: auto;
}

.seaLife-frame {
  width: 230px;
  margin: 10px;
  background: #FF8C00;
  color: #FF8C00
}

.seaLife-image {
  width: 400px;
  margin: auto;
}

.center-text {
  text-align: center;
}


/* Carousel */


/* .slick-slide {
	transform: scale(1);
	//opacity: .5;
	transition: .3s ease-in-out all;
}
.slick-slide.slick-center {
	opacity: 1;
	transform: scale(1.08);
}

.switch {
	background: #000;
}
.slider2 {

	//max-width: 1024px;
	margin: 0 auto;
	///border: 1px solid;
	position: relative;
	&:after, &:before {
		content: "";
		background: #FAFAFA;
		position: absolute;
		top: 0;
		height: 100%;
		width: 12%;
		z-index: 100;
		//opacity: .9;
	}
	&:after {
		right: 0;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	}
	&:before {
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	}
}

.img-box {
	padding: 0;
	img {
		width: 100%;
	}
}

article {
	border: 1px solid;
	float: left;
	margin: 50px 45px;
	font-size: 0.8vw;
}
h1 {
	font-size: 2vw;
} */
